extends ../layout

block content
    h1.
        Infophoto #{blob._id}
    p Name: #{blob.name}
    p Phone: #{blob.phone}
    p DOB: #{blobdob}
    p Is Loved: #{blob.isloved}
    

    a(href='/blogs') Go to Blogs